.container {
  width: 800px;
  height: 200px;
  border: 2px solid black;
  margin: auto;
}

.kiri {
  background-color: blueviolet;
  height: 100px;
  float: left;
  width: 150px;
  line-height: 100px;
  text-align: center;
  box-sizing: border-box;
}

.tengah {
  width: 500px;
  height: 100px;
  float: left;
  background-color: green;
}

.kanan {
  width: 150px;
  height: 100px;
  float: left;
  background-color: orange;
}
