body {
  background-color: blueviolet;
  min-height: 100vh;
}

.judul {
  border: 2px solid black;
  width: 600px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

p {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 600;
  color: orange;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  line-height: 40px;
  border-radius: 10px;
  margin: 10px auto;
}
main {
  display: block;
  margin: 20px auto;
}
.image {
  background-image: url("./image/media.jpg");
}
