body {
  background-color: blueviolet;
}
nav {
  text-align: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 5px;
}

li {
  display: inline;
}
h1 {
  text-align: center;
  align-items: center;
  text-decoration: underline;
  border-color: brown;
  color: black;
}
p {
  letter-spacing: 5px;
  text-align: justify;
}
button {
  display: inline;
}

button .a {
  text-align: center;
}
