body {
  background-color: blueviolet;
  min-height: 1000vh;
}
.judul {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  border: 3px solid black;
  width: 500px;
  margin: auto;
}
p {
  width: 500px;
}

.judul #why {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: black;
  color: orange;
  display: flex;
  text-align: center;
  width: 300px;
  margin: 20px auto;
  justify-content: center;
  height: 20px;
  border-radius: 10px;
}

.container {
  margin: 20px;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  display: flex;
  background: orange;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  height: 100px;
  position: relative;
  margin: 10px;
  flex: 1;
  max-width: 960px;
}
.nav {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  display: flex;
  background: orange;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  height: 100px;
  position: relative;
  margin: 10px;
  flex: 1;
  max-width: 960px;
}
.sidebar {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  display: flex;
  background: orange;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100px;
  position: relative;
  margin: 10px;
  flex: 1;
  max-width: 300px;
}
.content {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  display: flex;
  background: orange;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 100px;
  position: relative;
  margin: 10px;
  flex: 2;
  max-width: 640px;
}

.footer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  display: flex;
  background: orange;
  justify-content: center;
  align-items: center;
  width: 500px;
  border-radius: 10px;
  height: 50px;
  position: relative;
  margin: 10px;
  flex: 1;
  max-width: 960px;
}
